*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #05263f;
    font-family: "poppins", sans-serif;
}

.card{
    background-color: #ffff;
    width: 90%;
    max-width: 400px;
    border-radius: 20px;
    color: #05263f;
    margin: 100px auto 0;
    text-align: center;
    padding: 40px 35px;
}

.card button{
    border: none;
    outline: none;
    background-color: transparent;
}
.search-box{
    margin-top: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.loc-icon{
    width: 35px;
}
.search-icon{
    background-color: #e1f5ff;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    width: 48px;
    margin-left: 20px;
}

.search-icon:hover{
    background-color: #76b7d8;
}

.search-box input{
    border: none;
    outline: none;
    color: #05263f;
    width: 50%;
    text-align: left;
    font-size: 17px;
    margin-right: 70px;
}

.weather-icon{
    width: 170px;
    margin-top: 10px;
}

.weather h1{
    font-size: 45px;
    font-weight: 800;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 40px;
}

.column{
    display: flex;
    align-items: center;
    text-align: left;
}

.column img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 25px;
}

.weather{
    display: none;
}

.error{
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    display: none;
}